<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drone shots</title>

</head>
<body>
  <div class="root">

    <header class="header">
        <h1 class="header__title">
          Drone photogallery
        </h1>

        <section class="introduction">
          <h1 class="introduction__me">
            Hi, my name is Ala. 
          </h1>
          <p class="introduction__info">
            Here you can see my drone shots. Welcome!
          </p>
        </section>

      <nav class="header__navigation">

      </nav>
    </header>

    <main class="page">

      <section class="gallery">
        <div class="image">
          <img class="image__pic" src="images/boisko.JPG" alt="">
          <p class="image__info">
            Boisko szkolne, Sulejówek, Glinianki
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/checiny1.JPG" alt="">
          <p class="image__info">
            Zamek w Chęcinach, Świętokrzyskie
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/checiny2.JPG" alt="">
          <p class="image__info">
            Zamek w Chęcinach, Świętokrzyskie
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/goclaw1.JPG" alt="">
          <p class="image__info">
              Panorama miasta, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/goclaw2.JPG" alt="">
          <p class="image__info">
            Panorama miasta, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/krzyztopor.JPG" alt="">
          <p class="image__info">
            Zamek Krzyżtopór, Świętokrzyskie
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/mgla.JPG" alt="">
          <p class="image__info">
            Panorama miasta we mgle, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/mglajesien.JPG" alt="">
          <p class="image__info">
            Jesień w Warszawie
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/mologlinianki.JPG" alt="">
          <p class="image__info">
            Molo, Sulejówek, Glinianki
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/mologoclaw.JPG" alt="">
          <p class="image__info">
            Molo nad Balatonem, Gocław, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/noc1.JPG" alt="">
          <p class="image__info">
            Nocna panorama miasta, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/noc2.JPG" alt="">
          <p class="image__info">
            Nocna trasa Siekierkowska, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/noc3.JPG" alt="">
          <p class="image__info">
            Nocna trasa Siekierkowska, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/noc4.JPG" alt="">
          <p class="image__info">
            Most Siekierkowski nocą, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/okuniew1.JPG" alt="">
          <p class="image__info">
            Ruiny stacji kolejowej, Okuniew
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/okuniew2.JPG" alt="">
          <p class="image__info">
            Ruiny stacji kolejowej, Okuniew
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/parkskaryszewski.JPG" alt="">
          <p class="image__info">
            Park Skaryszewski z panoramą miasta, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/ptaki1.JPG" alt="">
          <p class="image__info">
            Ptaki, Pole Mokotowskie, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/ptaki2.JPG" alt="">
          <p class="image__info">
            Ptaki, Pole Mokotowskie, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/rondoglinianki.JPG" alt="">
          <p class="image__info">
            Park, Sulejówek, Glinianki
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/samolot.JPG" alt="">
          <p class="image__info">
            Opuszczony Antonow An-2, Zalesie Górne
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/siekierki1.JPG" alt="">
          <p class="image__info">
            Zachód słońca nad Mostem Siekierkowskim, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/siekierki2.JPG" alt="">
          <p class="image__info">
            Zachód słońca nad Mostem Siekierkowskim, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/siekierki3.JPG" alt="">
          <p class="image__info">
            Panorama miasta nad Wisłą, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/srodmiescie.JPG" alt="">
          <p class="image__info">
            Neony, Warszawa Śródmieście
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/swietokrzyski1.JPG" alt="">
          <p class="image__info">
            Panorama miasta, Most Świętokrzyski, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/swietokrzyski2.JPG" alt="">
          <p class="image__info">
            Panorama miasta, Most Świętokrzyski, Warszawa
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/truskawka.JPG" alt="">
          <p class="image__info">
            Opuszczona Truskawka
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/zegrze1.JPG" alt="">
          <p class="image__info">
            Żaglówka, Zalew Zegrzyński
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/zegrze2.JPG" alt="">
          <p class="image__info">
            Zalew Zegrzyński
          </p>
        </div>
        <div class="image">
          <img class="image__pic" src="images/zegrze3.JPG" alt="">
          <p class="image__info">
            Opuszczony Hotel, Zalew Zegrzyński
          </p>
        </div>

        
      </section>
    </main>

    <footer class="footer">

      <div class="footer__container">
        <section class="info">
          <h1 class="info__title">
            Drone art gallery
          </h1>
          <p class="info__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero aspernatur harum laborum ad nostrum iure praesentium maiores tempora omnis id!
          </p>
        </section>
  
        <section class="about">
          <h3 class="about__title">My name is Ala.</h3>
          <ul class="about__list">
            <li class="about__list__element">
              <a href="" class="about__list__element__link">
                portfolio
              </a>
            </li>
            <li class="about__list__element">
              <a href="" class="about__list__element__link">
                portfolio
              </a>
            </li>
            <li class="about__list__element">
              <a href="" class="about__list__element__link">
                portfolio
              </a>
            </li>
            <li class="about__list__element">
              <a href="" class="about__list__element__link">
                portfolio
              </a>
            </li>
          </ul>
        </section>
  
        <section class="contact">
          <h3 class="contact__title">
            Napisz do nas
          </h3>
          <form action="" class="contact__form">
            <input type="text" class="contact__form__mail" placeholder="Your email address">
            <textarea class="contact__form__message" name="" id="" cols="30" rows="10" placeholder="Your message..."></textarea>
            <button class="contact__form__button" type="submit">Wyślij wiadomość</button>
          </form>
        </section>
      </div>
      <div class="footer__end">
        Alicja Żurko 2021 &copy;
      </div>
      

    </footer>

  </div>

  
</body>
</html>
