@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$base-font-size: 16px;
$small-font-size: 14px;

$font-family: 'Montserrat', sans-serif;

$main-spacing: 20px;
$max-width: 1000px;

$color-primary: orange;
$button-color: rgb(243, 20, 143);

//Gallery
$image-title-color: #eee;

$breakpoints: (
    xs: 500px,
    sm: 760px,
    md: 1000px
)

