@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$base-font-size: 16px;
$small-font-size: 14px;

$font-family: 'Montserrat', sans-serif;

// $color-primary: orange;
$button-color: rgb(73, 142, 206);

//rgb(243, 20, 143)
//Gallery
$bgc: #eee;
$image-title-color: rgb(197, 199, 201);
$image-title-hover: darken($image-title-color, 10%);
$border-radius: 10px;

// rgb(195, 206, 209) rgb(151, 166, 177) 
//footer
$bgc-footer: darken($bgc, 10%);

$breakpoints: (
    xs: 500px,
    sm: 760px,
    md: 1000px
)

